@using PTTDATALOAD.mvc.Models;
@{
    ViewBag.Title = "Home Page";
    List<PTTDATAtype> cards = ViewBag.cards;

}
@{
    foreach(PTTDATAtype card in cards)
    {
    <div>
        <span> @card.ID<</span>>
        <span> @card.pop<</span>>
        <span> @card.title<</span>>
        <span> @card.author<</span>>
        <span> @card.URL<</span>>
        <span> @card.context<</span>>

    </div>
    }
 }