@using PTTDATALOAD.mvc.Models;
@{
    ViewBag.Title = "PTTDATA";

    List<PTTDATAtype> cards = ViewBag.cards;

}



 <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>pop</th>
                <th>title</th>
                <th>author</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (PTTDATAtype card in cards)
                {
                    
                        <tr>
                            
                            <th>@card.ID</th>
                            <th>@card.pop</th>
                            <th>@card.title</th>
                            <th>@card.author</th>
                            <th>@card.URL</th>
                            <th>@card.context</th>

                        </tr>

                   
                }
            }

    </table>
<p>

</p>
