@using PTTDATALOAD.mvc.Models;
@using MvcPaging
@using PagedList.Mvc;



@{

    PagedList.IPagedList<PTTDATAtype> myPageList = (PagedList.IPagedList<PTTDATAtype>)ViewBag.MyPageList;
    Layout = null;

    

}





<html>


<head>

    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/PagedList.css" rel="stylesheet" />


    <title>PTTDATA</title>


</head>

<body bgcolor="black" text="white">

    <a>

        @Html.ActionLink("查詢人氣", "SearchDATAget", new { @style = "color:white;" })
    </a>

    <p>
        @Html.ActionLink("查詢標題關鍵字", "SearchDATAtitle", new { @style = "color:white;" })
    </p>

    <table class="table">



        <tr>

            <th>ID</th>
            <th>pop</th>
            <th>title</th>
            <th>author</th>



        </tr>
        @{
            foreach (PTTDATAtype card in myPageList)
            {
                int re = Int32.Parse(@card.pop);

                if (re == 100)
                {
                    <tr>

                        <th>@card.ID</th>
                        <th style="color:red";>@card.pop</th>
                        <th>@card.title</th>
                        <th>@Html.ActionLink(@card.author, "PTTcontext", new { ID = card.ID })</th>
                        <th>@card.URL</th>
                        <th>@card.context</th>


                    </tr>
                }


                else if (100 > re && re >= 10)
                {
                    <tr>
                        <th>@card.ID</th>
                        <th style="color:yellow";>@card.pop</th>
                        <th>@card.title</th>
                        <th>@Html.ActionLink(@card.author, "PTTcontext", new { ID = card.ID })</th>
                        <th>@card.URL</th>
                        <th>@card.context</th>
                        
                    </tr>
                }
                    else
                    {
                    <tr>
                        <th> @card.ID </th>
                        <th  style="color:green";> @card.pop </th>


                         <th> @card.title </th>


                         <th> @Html.ActionLink(@card.author, "PTTcontext", new { ID = card.ID }) </th>


                         <th> @card.URL </th>


                         <th> @card.context </th>
                     </tr>
                    }

                }
            }

                </table>
    每頁 @myPageList.PageSize 條記錄，共 @myPageList.PageCount 頁，當前第 @myPageList.PageNumber 頁
    @Html.PagedListPager(myPageList, page => Url.Action("Index", new { page }))

</body>
</html>


